
.custom-editor ol {
    list-style: decimal;
    margin-left: 30px;
}
.custom-editor ul {
    list-style: circle;
    margin-left: 30px;
}
.custom-textarea {
    text-align: left;
    padding: 0;
    text-indent: 0;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfilelabel {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #106ba0;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
}
.inputfilelabel:focus {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfilelabel:focus,
.inputfilelabel:hover {
    background-color: #123e58;
}


